<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 text-center">
            <h1 class="about-page">About Zeph</h1>
            <p class="about-page">Zeph is a young man that is trying to code this website into a fully
             functioning website! Cool right? He will be going into the army soon 
             which means more time to code and read!</p>
        </div>
    </div>
</div>