<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="well text-center">
                <h1>Welcome to Zeph's Website!</h1><br/>
                <p>It's good to see you here! Sorry but I'm still in the progress of developing this website. I know I said it would be an overnight
                hackathon, but I got tired and went to bed. You probably wouldn't even get to read this cause I'll be shutting the server down. But 
                for good measure, I'll paste my latest blog post below!</p>
            </div>
            <div class="well post-holder">
                <h1>7th September 2017</h1>
                <p>Today marks the day I completed my web development online bootcamp using Ruby on Rails (MVC Framework). It wasn’t easy and it took me 
                just over 3 weeks to complete it, but it was meant to be a 12-week course so I think I did pretty well.<br/>
                At the end of the online course, they gave us deeper materials for computer science as well as a job hunting handbook which I think would 
                be pretty useful. They also left us with some materials to enhance our skills, materials such as texts for advanced Javascript, AngualrJS, 
                SQL and Node.js. I’m really excited to see what’s in store for this web development journey I’ve taken.<br/>
                With that said, I think will try to create a simple blog using the skills I have just acquired and I’ll start writing there. Hopefully, that’ll
                encourage me to write more consistently as well. But I think it will take some time, maybe a week? I’m starting work soon so I don’t know just 
                how much time I have to code.<br/>
                After that, I think I will return to Android programming. I had also signed up for an advanced Android Programming online course as well. This 
                has been a really great time for me, learning, reading, and understanding the many fields that intrigue me. Once I’ve saved enough cash, I’d purchase
                a MacBook to start on my iOS online course, I actually bought quite a few of those courses, but they came as a bundle so I didn’t really have much of 
                a choice.<br/>
                I also bought Raspberry Pi programming courses so I can tinker around with the Raspberry Pi I have in my room! All these courses have lifetime access 
                except the web development one, that is the main reason why I have been trying to rush through all the materials.<br/>
                I’m pretty excited to start work next week too. My first time working in a corporate environment. I’m really keen to understand the inner workings and
                how technology can really improve and increase efficiency!</p>
            </div>
        </div>
    </div>
</div>